<div class="whole">
    <div class="container mt-5">
        <img [src]="image1" class="img-fluid" alt="..." id="img">
        
        <div class="text">
        <p id="t1">Welcome to Health Care Service</p>
        <p id="t2">We are team to provide a best service</p>
    </div>
    
    <button type="button" class="btn text-light btn1" style="background-color: #338FE3;">Get Started</button>
    </div>



       <div class="container1">

        <div class="box box1">
          <h1>Why choose us?</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula nisi eget ante mollis, in consequat velit tristique.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula nisi eget ante mollis, in consequat velit tristique.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae, vitae. Consequatur recusandae maxime iure a vero, laudantium omnis ducimus molestiae beatae facere possimus veniam error asperiores quis dolor odio provident.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum doloribus, officia tempore impedit inventore fugit eligendi consequatur recusandae voluptas quidem a dolore? Ad quae autem animi voluptatum reiciendis, assumenda deserunt.
            <br><br>
            
          </p>
        </div>

        <div class="box box2">
            <i class="fa-solid fa-notes-medical m" style="color: #319df0;"></i>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula nisi eget ante mollis, in consequat velit tristique.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quaerat explicabo, ipsa dignissimos repellat ducimus repellendus esse error commodi repudiandae ab quis asperiores aperiam fuga voluptates est a in! Eos.
                                                                                                                                                                                                               
          </p>
                  
        </div>
        <div class="box box3">
            <i class="fa-solid fa-user-nurse m ms-5" style="color: #319df0;"></i>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula nisi eget ante mollis, in consequat velit tristique.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic, mollitia. Nostrum porro quod eveniet sequi consectetur a vel rerum eaque rem recusandae quos quasi cum quibusdam, iusto minus nam similique!
          </p>
        </div>
</div>

<div class="container3">
  <div class="wrapper1">
    <div class="img3">
    <img [src]="image3" alt="" width="50%" [ngStyle]="{'width.px': imagewidth, 'height.px': imageheight}">
  </div>
  <div class="content1">
    <h1>Provide best service</h1>
  </div>
  </div>
  

<div class="wrapper2">
   <div class="img4">
    <img [src]="image4" alt="" width="50%" [ngStyle]="{'width.px': imagewidth, 'height.px': imageheight}">
  </div>
<div class="content2">
  <h1>Recoginzed ward rooms</h1>
</div>
</div>
 
<div class="wrapper3">
  <div class="img5">
    <img [src]="image5" alt="" width="50%" [ngStyle]="{'width.px': imagewidth, 'height.px': imageheight}">
  </div>
<div class="content3">
  <h1>Advanced Technology</h1>
</div>
</div>
 
<div class="wrapper4">
  <div class="img6">
    <img [src]="image6" alt="" width="50%" [ngStyle]="{'width.px': imagewidth, 'height.px': imageheight}">
  </div>
  <div class="content4">
    <h1>Highly Qualifyed</h1>
  </div>
</div>
  
</div>

